<div class="contaminated-dashboard">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li [class.active]="status === 'confirmed'" class="nav-item">
                    <a class="nav-link" href="/covid19/confirmed">Confirmed</a>
                </li>
                <li [class.active]="status === 'deaths'" class="nav-item">
                    <a class="nav-link" href="/covid19/deaths">Deaths</a>
                </li>
                <li [class.active]="status === 'recovered'" class="nav-item">
                    <a class="nav-link" href="/covid19/recovered">Recovered</a>
                </li>
            </ul>
        </div>
    </nav>
    <div *ngIf="dataAvailable" style="display: block;">
        <canvas id="line"
                class="chart chart-line"
                chart-data="data"
                chart-labels="labels"
                chart-series="series"
                chart-options="options"
                chart-dataset-override="datasetOverride"
                chart-click="onClick">
        </canvas>
        <canvas baseChart width="1500" height="1000"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div>